# Firebase Configuration
# Paste your Firebase project configuration here.
# You can set these environment variables in your local environment or Netlify dashboard.

VITE_FIREBASE_API_KEY=AIzaSyCHUVoCZ9eDZrbMbnX0Eea40B-A7xj1MNk
VITE_FIREBASE_AUTH_DOMAIN=bahraindirectory-c4589.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bahraindirectory-c4589
VITE_FIREBASE_STORAGE_BUCKET=bahraindirectory-c4589.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=989518200515
VITE_FIREBASE_APP_ID=1:989518200515:web:f4cf7f6e771aea4fb0ec76
